@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
body{
    font-family: 'Unbounded',sans-serif;
}
#start-playing-text{
    color: black;
    font-size: 30px; 
}
p{
    font-family: "Times New Roman", Times, serif;
}
.imgm{
    width:80px;
    height:auto;
    padding-top: 20px;
    padding-left: 30px; 
}
.logotext{
    font-weight: 1000;
    position: absolute;
    top: 160px;
    padding-left: 50px;
    text-shadow: 1px 1px 1px rgb(102, 102, 102), 2px 2px 1px rgb(102, 102, 102);
}
.mainh2{
    position: absolute;
    top: 200px;
    right: 10px;
    color: navajowhite;
    padding-bottom: 10px;
    font-size: 40px;

    /* padding-bottom: 0; */
    text-shadow: 1px 1px 1px rgb(102, 102, 102), 2px 2px 1px rgb(102, 102, 102);
    width: 60%;
      
}
.contain{
    font-size: 80px;
}
.big-title h1{
    font-size: 90px;
    margin-top: 40px;
}
.big-title{
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 1.8;
}
#start-playing-btn{
    padding: 12px 15px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 0.9rem;
    /* background-color: #420828; */
    background-color: #080842;
    border-radius: 35px;
}
.console{
    width: 600px;
    padding-bottom: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .section {
    position: relative;
    height: auto;
    /* background: #fafafa; */
    display: flex;
  }
  
  section .imgBx {
    position: sticky;
    top: 0px;
    min-width: 50%;
    height: 100vh;
  }
  section .imgBx img {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    max-width: 600px;
  }
  section .content {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  section .content h2 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  section .content p {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  